.app {
  font-family: Arial, sans-serif;
  text-align: center;
  display: block;
  height: 100vh;
  width: 100vw;
  --primary-color: #1E5BAA;
  /* Deep Blue */
  --secondary-color: #FFD700;
  /* Gold */
  --accent-color: #FF5733;
  /* Orange */
  --neutral-color: #FFFFFF;
  /* White */
  --text-color: #000000;
  /* Black */
}


h1 {
  color: var(--primary-color);
}

.body{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100px;
  height: 71vh;
  flex-wrap: wrap;
  gap: 20px;
}